 
  <main
    class="w3-row w3-col l12 m12 s12 animated _he-90 "
  >
  <section class="w3-row w3-col l12 m12 s12 _he-ov-y-90">

    <header id="header" class=" _he-30 w3-row w3-col l12 m12 s12 position-relative">
        <app-home-header></app-home-header>
      </header>
      
      <section class="w3-row w3-col l12 m12 s12 w3-container w3-section ">
    
        <h1 class=" fw-bolder centrar-h" >Electro.app</h1>
        <h4 class=" centrar-h">Controla el consumo eléctrico de tu hogar y ahorra dinero con una herramienta eficiente</h4>
         
      </section>
    
      <section class="w3-row w3-col l12 m12 s12 w3-container centrar-position fadeIn">
     
        <div class="w3-col l2 m2 s5 w3-section w3-card p-4">

            <i class="material-icons img-logo-lg  mt-1">
                electrical_services
            </i>

        </div>

        <div class="w3-col l2 m2 s5 w3-section  w3-card p-4">

            <img
        class="  img-logo-xxmd"
        src="assets/img/energia_01.png"
        alt="energia_01"
      />

        </div>

        <div class="w3-col l2 m2 s5 w3-section  w3-card p-4">

            <img
        class="  img-logo-xxmd"
        src="assets/img/energia_01.png"
        alt="energia_01"
      />

        </div>

        <div class="w3-col l2 m2 s5 w3-section  w3-card p-4">

            <img
        class="  img-logo-xxmd"
        src="assets/img/energia_01.png"
        alt="energia_01"
      />

        </div>
        
    
      </section>

  </section>
  

  </main>
  

  <footer class=" _he-10 w3-row w3-col l12 m12 s12">

    <app-home-footer></app-home-footer>

  </footer>