<section class="w3-container w3-row w3-col l12 m12 s12 ">
    <div class="container w3-row w3-col l12 m12 s12">
  
      <div class=" container w3-row w3-col l6 m6 s6 card-img  tadaI">
         
        <img
          class="  img-logo-xxmd"
          src="assets/img/Electro-Logo.svg"
          alt="logo_linki"
        />
      </div>
  
      <div class=" w3-row w3-col l6 m6 s6 mt-5 centrar-position ">
        

        <h5 id="etq-page" class=" btn btn-lg w3-deep-orange border-4 border-bottom border-secondary text-white mt-4 position-absolute w3-right ">Electro.app</h5>
        <!-- <a
          [routerLink]="['home']"
          class="position-absolute border border-secondary mt-5  w3-section text-warning w3-xxlarge  " style="z-index: 0;"
        >
          <i class="material-icons">home</i>
        </a> -->
  
      </div>
    </div>
  </section> 
  
  
  